.header-container {
    display: flex;
    align-items: center;

    padding-top: 25px;
    padding-bottom: 25px;
}

.header-nav-list {
    display: flex;
    align-items: center;
}

.header {
    border-bottom: 1px solid #ececec;
}

.header-nav-item:not(:last-child) {
    margin-right: 50px;
}

.header-nav-list,
.header-contacts {
    font-family: var(--primary-page-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    margin-top: 0px;
    margin-bottom: 0px;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contacts-link-mail:hover,
.header-contacts-link-mail:focus,
.header-contacts-link-tel:hover,
.header-contacts-link-tel:focus {
    color: var(--accent-color);
}

.header-nav-link {
    position: relative;
    color: var(--black);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-line::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -35px;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
}

.header-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-contacts-link-mail {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.header-contacts-link-tel {
    display: flex;
    align-items: center;
}

.header-contacts-link-mail,
.header-contacts-link-tel {
    color: var(--gray);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail,
.icon-tel {
    margin-right: 10px;
    fill: currentColor;
}